.hidden {
    display: none;
}
.visibe{
    display: none;
}
table {
    color: black;
}

#aside {
    border: 2px solid black;
}

#result {
    border: 2px solid black;
}

body {
    background-color: #1e2124;
    color: white;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

#allSongs{
    overflow-y:scroll;
    height:500px;
}

#allSongs td{
    justify-content:space-around;
    align-content:start;
}
#allSongsTH{
    justify-content:start;
}
button{
    display:inline-block;

}
td{
    width:200px;
}

form input[type="submit"] {
    cursor: pointer;
}
#searchForm{
    justify-content:space-around;
}

form label{
    text-transform:uppercase;
}

form input[type="text"] {
    
}