hidden {
    display: none;
}

table {
    color: black;
}

#aside {
    border: 2px solid black;
}

#result {
    border: 2px solid black;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}