.hidden {
    display: none;
}

table {
    color: black;
}

#aside {
    border: 2px solid black;
}

#result {
    border: 2px solid black;
}

body{
    background-color:slategrey;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

div #allSongs{
    overflow-y:scroll;
}

form input[type="submit"]{
    cursor: pointer;
}
#searchForm{
    justify-content:space-around;
}

form label{
    text-transform:uppercase;
}

form input[type="radio"]{

}